
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.background {
  background-color: rgba(240, 244, 248, 0.8); 
  border-radius: 20px;
  padding: 40px;
}

.form-container {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #007bff;
}

.colorful {
  color: #fb4a0a; 
}

.input-container {
  margin-bottom: 20px;
}

.convert-button {
  background-color: hsl(211, 97%, 46%);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.convert-button:hover {
  background-color: #0056b3;
}
